// Colors
$bg: #E7E7E7;
$primary: #00e0a5;
$inputFieldsPlaceHolders: #737373;

// Overwrite Materialize styles

/* Text input */

// CSS template for modifying input fields border color
// @{link} https://stackoverflow.com/a/56501028/9370788
// @{link} https://stackoverflow.com/a/45880493/9370788

// Styling for input field wrapper
$input-focus-color: $primary; // ~~ HACK

/* Style Placeholder */
$placeholder-text-color: $inputFieldsPlaceHolders; // ~~ HACK

/* Dropdown */

// Styling for input field select dropdown
$dropdown-color: $inputFieldsPlaceHolders; // ~~ HACK

/* Styling for checkboxes & radio buttons */
// $secondary-color: $inputFieldsPlaceHolders;
$secondary-color: #ec407a;