// Colors
$bg: #E7E7E7;
$primary: #00e0a5;
$inputFieldsPlaceHolders: #737373;

// Overwrite Materialize styles

/* Text input */

// Styling for input field wrapper
$input-focus-color: $primary; // ~~ HACK

/* Style Placeholder */
$placeholder-text-color: $inputFieldsPlaceHolders; // ~~ HACK

/* Dropdown */

// Styling for input field select dropdown
$dropdown-color: $inputFieldsPlaceHolders; // ~~ HACK

/* Styling for checkboxes & radio buttons */
$secondary-color: #ec407a;
$label-text-color: $inputFieldsPlaceHolders;