@charset "UTF-8";

// Imports Webpack @{doc} https://tinyurl.com/yxjaswxw
// @import "~materialize-css/sass/materialize.scss";

// import app variables and overwrite Materialize default variables 
@import 'sass/variables';
// import Materialize default styles
@import 'app/materialize-hacks/sass/vendor';
// import footer drozerah styles
@import 'sass/drozerah';
// import alerts
@import 'sass/alerts';

// using Materialize color function
$bg-body: color("grey", "darken-4");

// html{
//     border: 10px solid lime;
// }

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    display: grid;
    place-items: center;
    background-color: $bg-body; // M
    font-family: monospace;
    color:#333;
    box-sizing: border-box;
    padding: 50px;
    // border: 5px solid lime;
}

.wrapper{ // grid item first level
    width: 800px;
    // margin: 50px 0;
    background-color: #fff;
    border-radius: 3px;
    padding: 25px 50px;
    &::before{
        content: "Drozerah freeCodeCamp Work";
        display: inline-block;
        width: 100%;
        padding: 0 5px 5px 0;
        text-align: right;
    }
    header{
        h1{
            padding: 20px;
            // border: 2px solid $primary;
            // box-shadow: 5px 6px 0 $primary;
            font-size: 2em;
            color: inherit;
            margin: 0;
        }
    }
    main{
        background-color: #fff;
        p{
            margin: 20px 0 0 0;
            padding: 20px 0 0 20px;
        }
        p,form{
            background-color:inherit;
            transition: background-color 0.5s ease;
        }
    }
    footer{
        text-align: center;
        margin: 20px 0 0 0;
    }
}

form{
    padding: 20px;

    .input-field{
        //width: inherit; // ~~ HACK
        //display: flex; // ~~ HACK
        //flex-direction: row; // ~~ HACK
        //justify-content: flex-start; // ~~ HACK    
        div{
          //width: calc(100%);
        }
        & > label {
            color: inherit; // ~~ HACK
            // width: calc(100%); // ~~ HACK
            text-align: right; // ~~ HACK
            padding-right: 20px; // ~~ HACK
            transform: translateY(12px); // ~~ HACK
            // background-color: lime;
        }
        #textarea-label{
            margin-bottom: 10px;
        }     
        #textarea-error{
            color: $input-error-color;
            display: none;
            line-height: 24px;
            vertical-align: super;
            margin-left: 10px;
        }
    }
}

// Form FlexBox

form {
    width: 100%;
    .flex-container{

        width: inherit;
        display: flex;
        flex-direction: row;
        label[id$="label"], 
        div[id$="label"],
        div[id$="input"],
        div[class="select-wrapper"]{
            width: calc(100%/2);
            // background-color: orange;
        }
        div[id*="group-label"]{
            padding: 13px 20px 0 0;
            text-align: right;
            // background-color: lime;
        }
        #radio-group-input{
            transform: translateX(-3px);
        }            
        input.select-dropdown {
            color: $inputFieldsPlaceHolders;
        }
        input[id="name"]{
            text-transform: capitalize;
        }
      
    }
    .flex-container:last-of-type{
        
        // background-color: lime;
        margin: 40px 0 0 0;
        justify-content: flex-end;
        
    }
}

main.ajax{
    position: relative;
    p, form{
        background-color: #E7E7E7;
        opacity: 0.5;
    }
    .preloader{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        .circle{
            z-index: 20;  
        }
    }
}
